body{
	background: url(best.png);
	background-size: cover;
}
.profile{
	width: 450px;
	background: #fbf3dd;
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Monospace' ,sans-serif;
}
.profile img{
	border-radius: 50%;
	width: 130px;
	height: 170px;
}
.profile h1{
	color: black;
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.profile h5{
	color: black;
	font-size: 25px;
	letter-spacing: 3px;
	font-weight: 100;
}
.profile p{
	color: black;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 20px;
}
.media-sosial a{
	width: 10px;
	height: 30px;
}
.media-sosial img{
	width: 20px;
	height: 30px;
}