/*font*/
*{
    padding: 0;
    margin: 0;
    font-family: 'cursive', sans-serif;
}
header
{
    height: 70px;
}
header h1
{
    display: inline-block;
    float: none;
    padding: 15px 24px;
    text-transform: uppercase;
}
header h1 a
{
    transition: .3s;
}
header h1 a:hover
{
    color: #f84744;
}
header ul
{
    float: right;
}
header ul li
{
    padding: 24px;
    display: inline-block;
}
header ul li a
{
    transition: .3s;
}
header ul li a:hover
{
    color: #f84744;
}
a
{
    text-decoration: none;
}

/*continer*/
.container
{
    width: 90%;
    margin: 0 auto;
}
.container::after
{
    content: '';
    display: block;
    clear: both;
}

/*menu*/
.mobile-menu
{
    float: right;
    display: none;
    padding: 18px;
}
.mobile-menu:hover
{
    cursor: pointer;
}
#check
{
    display: none;
}

/*sidebar*/
.sidebar
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(16, 47, 80, .9);
    transition: .3s;
    z-index: 9999;
}
.sidebar ul li a
{
    color: #fff;
}
.sidebar ul li
{
    padding: 24px;
    transition: .3s;
    transition-property: background-color;
}
.sidebar ul li:hover
{
    background-color: #FF99BB;
}
#check:checked ~ .sidebar
{
    left: 0;
}

/*banner*/
.banner
{
    background-color: #3C2E3D;
    padding: 150px 0;
}
section
{
    padding: 50px 0;
}
.banner img
{
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 3px 5px #ddd;
    margin-bottom: 10px;
}
.banner h2,
.banner p,
.banner span
{
    color: #fff;
}
.banner h2
{
    margin-bottom: 10px;
}
.banner p
{
    font-size: 18px;
}
.banner-left
{
    padding-left: 24px;
}
.media-sosial a
{
    width: 10px;
    height: 30px;
}
.media-sosial img
{
    width: 55px;
    height: 40px;
    padding-left: 22px;
}
section h3
{
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}

/*about*/
#about p
{
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
    text-align: center;
}

/*skills*/
#skills,
#contact
{
    background-color: #E0D7D3;
}
#skills .bar
{
    height: 30px;
    background-color: rgb(241, 235, 235);
    border: 1px solid rgb(77, 74, 74);
    margin: 5px 0 20px 0;
}
.bar .nilai
{
    height: 30px;
    background-color: #36384C;
    display: inline-block;
    color: rgb(218, 209, 209);
    text-align: center;
}
.html
{
    width: 85%;
}
.css
{
    width: 80%;
}
.js
{
    width: 70%;
}
.php
{
    width: 70%;
}
#portofolio
{
    background-color: #B2B2A2;
}
.col-4
{
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
    margin-bottom: 15px;
}
.col-4 img
{
    width: 100%;
}
.col-4 a:hover img
{
    transform: scale(1.2);
}
.col-3
{
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;
}
.col-3 h4
{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
#bukutamu
{
    background-color: #B2B2A2;
}

/*footer*/
footer
{
    background-color: #39324B;
    padding: 50px;
    text-align: center;
}
footer small
{
    color: #fff;
}
html
{
    scroll-behavior: smooth;
}

@media (max-width: 800px)
{
    .mobile-menu
    {
        display: block;
    }
    header ul
    {
        display: none;
    }
    .col-4
    {
        width: 50%;
    }
    .col-3
    {
        width: 100%;
    }
}