*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html
{
	font-size: 30px;
	font-size: 'Montserrat', sans-serif;
}
a
{
	text-decoration: none;
}
.container
{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#web
{
	background-image: url(bg.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#web::after
{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: -7;
	z-index: -1;
}
#web .web
{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#web h1
{
	display: block;
	width: fit-content;
	font-size: 3rem;
	position: relative;
	color: white;
}
#web h1 span
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: turquoise;
	animation: text_reveal_box 2s ease;
	animation-delay: 1s;
}
#web .cta
{
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
#web .cta:hover
{
	color: white;
	background-color: crimson;
}
@keyframes text_reveal_box
{
	50%
	{
		width: 100%;
		left: 0;
	}
	100%
	{
		width: 0;
		left: 100%;
	}
}